*{
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff9d;
}

.nav-main{
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    background-color: white;
}

.nav-main span{
    color: rgb(65, 123, 180);
}
.li-main{
    list-style: none;
    display: flex;
    gap: 20px;
}
.li-main a{
    text-decoration: none;
    color: rgb(69, 69, 69);
}
.li-main a:hover{
    color: #000000;
}
.about{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    padding: 35px;
}


.section-divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 30px auto;
    width: 80%;
}


.h-main{
    display: flex;
    justify-content: space-around;
    
}
.about h1{
    font-size: 45px;
}
.h-right img{
    height: 400px;
}
.home{
    margin-top: 60px;
    padding: 20px;
}
.home p{
    font-size: 1.1em;
    color: #4c4c4c;
}
.home span{
    font-family: Verdana ;
    font-size: 42px;
    color: #2997ff;
}
.soc-icons{ 
    display: flex;
    gap: 15px;
    padding: 6px;
    align-items: center;
}
.soc-icons img{
    height: 35px;
}
.butt{
    display: flex;
    align-items: center;
    gap: 10px;
}
.butt a{
    text-decoration: none;
}
#uuu{
    background-color: #2997ff;
    color: white;
    width: 100%;
}
.butt button{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 15px;
    width: 200px;
    border-radius: 25px;
    border: 1px solid #2997ff;
    color: #2997ff;
    background-color: white; 
    font-size: 17px;
    cursor: pointer;
}

 .skill-main{
    display: flex;
    justify-content: center;
    gap: 20px; 
 }
 .s-name{
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 90px;
    height: 300px;
    width: 30%;
    padding: 20px;
    border-radius: 3%;
 }
.s-img img{
    height: 340px;
}
.s-content span{
    display: flex;
    font-size: 17px;
    justify-content: center;
    color: #2997ff;
    font-weight: 450;
}
.s-content p{
    color: #555;
}
.s-name{ 
    display: flex;
    justify-content: center;
    transition: all 200ms;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}

.s-imgs{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 15px;

} 
.s-imgs img{
    height: 65px;
}
.tit-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    color: #2997ff;
} 

#jkk{
    height: 360px;
}
.con-main{
    display: flex;
    justify-content: space-around;
    
}
.contact-left{
    display: flex;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    height: 350px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info a {
    color: #2997ff;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
}
.p-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
} 
.p-img img{
    height: 500px;
}
.project-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    justify-content: space-around;
}

.project-item {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 5px;
    transition: all 200ms; 
} 

.project-item a{
    text-decoration: none;
    color: #2997ff;
}

.s-name:hover, .project-item:hover{
    transform: translateY(-8px);
}
.project-item h2 {
    text-align: center;
    margin-top: 0;
    color: #2997ff;
    font-size: 20px;
}

.project-item p {
    font-size: 16px;
    color: #555;
}
.project-item a{
    margin-top: 25px;
}
.pro-img{
    display: flex;
    justify-content: center;
}
.pro-img img{
    height: 260px;
    width: 385px;
}
.con-contact{
    color:#1662a9
}
footer {
    text-align: center;
    padding: 20px 0;
}